.market-scenario {
  text-align: center;
  padding: 20px;
  background-color: rgb(200, 230, 241);
  border-radius: 10px;
}

.market-scenario h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.chart-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.chart-container {
  width: 200%; 
  height: 60vh;
  display: inline-block;
  vertical-align: top;
}
