.LoginContainer {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../../assets/bgm.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1000px;
  padding: 20px;
} */

.login-box {
  background-color: white;
  padding: 10px 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 520px;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.login-box h1 {
  color: #19d31c;
  text-align: left;
  font-size: 35px;
  margin-top: -10px;
  margin-bottom: 70px;
}

.login-box h2 {
  margin-bottom: 20px;
  margin-top: -10px;
  color: #2a2a2a;
  text-align: center;
  font-size: 50px;
}

.login-box h3 {
  margin-bottom: 20px;
  margin-top: -25px;
  color: #2a2a2a;
  text-align: left;
  font-size: 25px;
}

.L_login {
  color: Green;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
}

.login-box form div {
  margin-bottom: 20px;
}

.login-box form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2a2a2a;
}

.login-box form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-box form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a4d3a4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: -10px;
}

.login-box form button:disabled {
  background-color: #8ae08a;
}

.login-box form button:enabled {
  background-color: #13d413;
}


.login-box .register-link {
  margin-top: 20px;
  display: block;
  color: #2a2a2a;
  text-align: center;
}

.login-box .register-link a {
  color: #2a9d8f;
  text-decoration: none;
}

.login-box .register-link a:hover {
  text-decoration: underline;
}

.login-box .forgot-password {
  color: #2a9d8f;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  text-align: right;
}

.login-box .forgot-password:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .login-box {
    padding: 20px;
  }

  .login-box form input {
    padding: 8px;
  }

  .login-box form button {
    padding: 8px;
    font-size: 14px;
  }
}