*,
*::after,
*::before {
  box-sizing: border-box;
}
.company-credits
{
    border: 10px solid #4CAF50;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    color: black;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width:100%;
    justify-content: space-evenly;
 }
.buy-credits
{
    justify-content: center;
    align-items: center;
    width:max-content;
    color: black;

}
.buy-credits .buy-form
{
    width:inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items:start;
}
.sell-credits
{   
    justify-content: center;
    align-items: center;
    width:max-content;
    color: black;


}
.sell-credits .sell-form
{
    width:inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items:start;
}

.verifyGcpContent
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    border: 10px solid #4CAF50;
    border-radius: 10px;
    color: black;
}
.verifyGcpContent .verifyDetails
{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: fit-content;
    margin: 10px;
    color: black;
}
.verifyGcpContent .verifyDetails label
{
    margin: 5px;
}
.verifyGcpContent .verifyButtons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    color: black;
}
.verifyGcpContent .verifyButtons Button
{
    width:fit-content;
}
.verifyGcpContent .verifyStatusDisplay
{
    display: flex;
    justify-content: center;
    width:100%;
    height: fit-content;
}
.verifyGcpContent .verifyStatusDisplay span
{
    font-size: medium;
    font-weight: bolder;
    color: black;
}