/* VerifyCompanyGCP.css */
.verify-company-gcp {
    background-color: rgb(185, 236, 233);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 20px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.verify-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.verify-form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.submit-button:hover {
    background-color: #218838;
}

.message {
    margin-top: 15px;
    font-size: 1em;
    color: #dc3545;
    text-align: center;
}
