.dashboardNgo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 20%;
    background-color: rgb(185, 236, 233); /* Background color */
    padding: 20px;
    color: black; /* Text color */
  }
  
  .sidebarNgo {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    font-size: 20px;
  }
  
  /* Sidebar Navigation Links */
  .sidebarNgo ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-top: -20px;
  }
  
  .sidebarNgo ul li {
    padding-bottom: 5px; /* Padding to add space inside the list item */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Light partition line */
  }
  
  .sidebarNgo ul li:last-child {
    border-bottom: none; /* Remove bottom border for the last item */
  }
  
  .sidebarNgo ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding: 10px 20px;
    display: block; /* Block-level for better clickability */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .sidebarNgo ul li a:hover {
    background-color: #797eec; /* Different background color for active link */
  }
  
  .sidebarNgo ul li a.active {
    background-color: #797eec; /* Different background color for active link */
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .dashboardNgo {
      width: 100%;
      height: auto;
    }
  
    .sidebarNgo ul li {
      margin: 10px 0;
    }
  
    .sidebarNgo ul li a {
      font-size: 1em;
      padding: 8px 16px;
    }
  }
  